body{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5c/518097-background-hd.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
    background-position: center;
    font-family: 'Times New Roman', Times, serif;
}
#main{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
input{
    width: 400px;
    height: 40px;
    font-size: 30px;
    border: 5px dashed rgb(108, 62, 62);
    color:rgb(246, 124, 144);
    font-weight: bold;
}
.button{
    border: 10px solid transparent;
    border-radius: 100px;
    background-color:#7fbdd2 ;
    font-size: 28px;
    font-weight: bold;
    margin: 10px;
    color:green;

}
li{
    font-size: 25px;
}